## 1. user-defined function (5 Questions)

In [6]:
#1. Write a function to calculate the factorial of a (without recursion)

def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact*=i
    print(fact)

In [7]:
factorial(5)

120

In [8]:
#2.write a function to check if a number is armstrong or not

def armstrong(num):
    digit = str(num)
    power = len(digit)
    total = sum(int(i)**power for i in digit)
    return num==total
    
n = int(input("Enter a number: "))
if armstrong(n):
    print(f"{n} is an Armstrong number.")
else:
    print(f"{n} is NOT an Armstrong number.")

Enter a number:  143

143 is NOT an Armstrong number.

In [10]:
# 3. Write a function that takes a list of numbers and returns only even numbers.
def even_list():
    even = list(map(int,input("Enter a number with haveing space after each number : ").split()))
    for i in even:
        if i%2==0:
            print(i)

In [12]:
def even_list():
    even = list(map(int,input("Enter a number with haveing space after each number : ").split()))
    for i in even:
        if i%2==0:
            print(i)

In [13]:
even_list()

Enter a number with haveing space after each number :  5 2 1 2 2 1 2 3

2
2
2
2

In [14]:
# 4. Write a function that takes a string and returns the reverse of the string.

def reverse_string(user):
    reverse=user[::-1]
    print(reverse)

In [17]:
reverse_string("user")

resu

In [5]:
# 5. Write a recursive function to calculate Fibonacci series up to n terms.
def fibonacci(n):
    a= 0
    b =1
    for i in range(n):
        print(b, end = " ")
        a,b =b,a+b

In [6]:
 fibonacci(10)

1 1 2 3 5 8 13 21 34 55

## 2. lambda function(5 question)

In [22]:
# 6. Write a lambda function to find the maximum of two numbers.

maxx = lambda x , y : max(x,y)
print(maxx)
maxx(564,64435)

<function <lambda> at 0x000002BB0576BD80>

64435

In [25]:
# 7. Write a lambda function to count vowels in a given string.


vowls = "aeiou"


k =lambda x :sum(1 for i in x if i in vowls)
print(k("programming"))

3

In [31]:
# 8. Use a lambda with map() to convert a list of integers into their cubes.

lis = [5,6,5,6,2,2,14,5,6,7,8,]
cube = list(map(lambda x:x**3,lis))

In [33]:
cube

[125, 216, 125, 216, 8, 8, 2744, 125, 216, 343, 512]

In [44]:
# 9. Use a lambda with filter() to find numbers divisible by 5 from a list.

lis1 = [2,25,45,40,78,80,100,105,50,7]

divi = list(filter(lambda x : x%5==0,lis1))

In [47]:
divi

[25, 45, 40, 80, 100, 105, 50]

In [48]:
# 10. Use reduce() with lambda to find the product of all numbers in a list.
from functools import reduce
lis22 = [4,2,22,2,4,4,3,2,2]
product = reduce(lambda x,y:x*y,lis22)
print(product)

67584

## 3. list comprehension (5 question)

In [49]:
# 11. Create a list of squares of numbers from 1 to 20 using list comprehension.


k = [i**2 for i in range(1,20)]

In [50]:
print(k)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [51]:
# 12. Extract all words starting with vowel from a list of words.

stri = input("Enter your string : ").lower()
count = []
vowels = "aeiou"

k = [ count.append(i) for i in stri if i in vowels]
print(count)

Enter your string :  yashashri

['a', 'a', 'i']

In [52]:
# 13. Generate a list of tuples (x, x^2) for numbers from 1 to 10.

k = [(i,i^2) for i in range(1,11)]
print(k)

[(1, 3), (2, 0), (3, 1), (4, 6), (5, 7), (6, 4), (7, 5), (8, 10), (9, 11), (10, 8)]

In [53]:
# 14. Flatten a 2D list using list comprehensi0on.

nested = [[1, 2], [3, 4], [5]]

k = [ j for i in nested for j in i]
print(k)

[1, 2, 3, 4, 5]

In [70]:
# 15. Create a list of prime numbers between 1 and 50 using list comprehension.

l=[1,51]
numbers=[(x, x+2) for x in range(1,20)]
print(numbers)

[(1, 3), (2, 4), (3, 5), (4, 6), (5, 7), (6, 8), (7, 9), (8, 10), (9, 11), (10, 12), (11, 13), (12, 14), (13, 15), (14, 16), (15, 17), (16, 18), (17, 19), (18, 20), (19, 21)]

## 4.class (5 question)

In [57]:
#16. Create a class Student with attributes name and marks, and a method to display details



class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks

In [60]:
obj = Student("yashashri",90)

In [62]:
obj.marks
obj.name

'yashashri'

In [63]:
# 17 create a class bank account with diposit and withdral method
class Atm:
    def __init__(self,name,balance):
        self.balance=balance
        self.name=name

    def deposit(self,amount):
        if amount>0:
            self.balance+=amount
            return f"Deposited balance {amount} . New balance {self.balance}"
        return "Invalid deposit amount"

    def withdrawal(self,amount):
        if 0<amount <=balance:
            self.balance-=amount
            return f"Withdrawal balance {amount} . New balance {self.balance}"
        return "Invalid"
            
            
    def get_balance(self):
         return self.balance

In [64]:
obj = Atm("rohit",10000)

In [65]:
obj.deposit(7000)

'Deposited balance 7000 . New balance 17000'

In [1]:
# 18. Create a class Circle with a method to calculate area and circumference.
pi=3.14
class Circle:
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return pi*(self.radius**2)
    def cricumference(self):
        return 2 *pi *self.radius

In [2]:
obj = Circle(5)

In [3]:
obj.area()

78.5

In [4]:
obj.cricumference()

31.400000000000002

In [5]:
# 19. Create a class Employee that increases salary by 10%.

class Employee:
    def __init__(self,salary):
        self.salary=salary
    def increase_salary(self):
        return self.salary * 1.10

In [6]:
onj = Employee(90000)

In [7]:
onj.increase_salary()

99000.00000000001

In [8]:
# 20. Create a class Car with methods to start, stop, and display status.

class Car:
    def __init__(self,start,stop):
        self.start=start
        self.stop=stop

In [9]:
car = Car("Car is start","Car is stop")

In [10]:
car.start

'Car is start'

## 5.Inheritance(5 question)

In [11]:
# 21. Create a base class Animal and a derived class Dog that overrides a method.

class Animal:
    def barking(self):
        return "dog are barking"
    def walk(self):
        return "dog are walk"
class Dog(Animal):
    def running(self):
        return "dog are running"

In [12]:
obj = Dog()

In [13]:
obj.barking()

'dog are barking'

In [14]:
obj.running()

'dog are running'

In [4]:
#22 create a base class shape with method area().inherit rectangle and circle classes to implement and calculation

class shape:  #parent class
    def area(self):
        pass
class rectangle(shape):
    def area(self,length,width):
        self.length=length
        self.width=width
        return self.length*self.width
        print("area of rectangle is :-", area)

class circle(shape):
    def area(self,radius):
        self.radius=radius
        import math as mt
        return mt.pi*self.radius**2
        print("area of circle is :-",area)

In [5]:
obj_shape=shape()

In [6]:
obj2=circle()
obj3=rectangle()

In [7]:
obj3.area(10,7)

70

In [8]:
obj2.area(5)

78.53981633974483

NameError: name 'obj3' is not defined

In [15]:
# 23. Create a Person class and inherit Student and Teacher from it with additional attributes.

class Person:
    def __init__(self,name,age):
        self.name =name
        self.age=age
    def show_detail(self):
        return f"Name is {self.name} and age is {self.age}"

class Student(Person):
    def __init__(self,name,age,student_id,grade):
        super().__init__(name,age)
        self.student_id=student_id
        self.grade=grade
    def show_detail(self):
        return f" Student = { super().show_detail() } , student id ={self.student_id} and grade is {self.grade}     "

class Teacher(Person):
    def __init__(self,name,age,experience,salary):
        super().__init__(name,age)
        self.experience =experience
        self.salary=salary
    def show_detail(self):
        return f"Teacher = {super().show_detail()} and its have Experience of {self.experience} and is expected salary is {self.salary}      "

In [16]:
obj =Person("Rohit" , 16)

In [17]:
s1 = Student("Rahul", 16, "S101", "10th Grade")
t1 = Teacher("Mr. Sharma", 50,5,89000)

In [18]:
s1.show_detail()

' Student = Name is Rahul and age is 16 , student id =S101 and grade is 10th Grade     '

In [19]:
# 24. Create a Vehicle class and inherit Car and Bike with their specific features.

class Vehicle:
    def __init__(self,brand, model):
        self.brand = brand
        self.model = model
    def feature(self):
        return f"This is a brand of {self.brand} , This is model of your vehicel {self.model}"


class Car(Vehicle):
    def __init__(self,brand, model,fuel_type):
        super().__init__(brand,model)
        self.fuel_type=fuel_type
    def feature(self):
        return f"Car -> {super().feature()}, Fuel type: {self.fuel_type}"


class Bike(Vehicle):
    def __init__(self,brand,model,cc):
        super().__init__(brand,model)
        self.cc=cc
    def feature(self):
        return f"Bike -> {super().feature()},CC:{self.cc}"

In [20]:
s1=Car("BMW","M4","Petrol")
s2=Bike("TVS","XL-100","10000cc")

In [21]:
s1.feature()

'Car -> This is a brand of BMW , This is model of your vehicel M4, Fuel type: Petrol'

In [24]:
# 25. Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student
# and Athlete).


class Student:
    def student_info(self):
        dic ={"name":"Rani","Section":"A"}
        print(dic)
class Athlete(Student): #child class
    def student_athlete(self,):
        return f"Student is also Athlete"

class StudentAthlete(Athlete):#child class
    pass

In [25]:
obj = StudentAthlete()

In [26]:
obj.student_info()

{'name': 'Rani', 'Section': 'A'}

## 6.polymorphism(5 question)

In [68]:
# 26. Create two classes Cat and Dog with the same method speak(). Demonstrate
# polymorphism.

class animal:
    def make_speak(self):
        pass


class Cat(animal):
    def make_speak(self):
        return "Meow!"


class Dog(animal):
    def make_speak(self):
        return "Bark!"

c = Cat()
d = Dog()

animal=[c,d]


for animals in animal:
    print(animals.make_speak())

Meow!
Bark!

In [1]:
# 27. Demonstrate operator overloading by implementing addition of two Vector objects.


class Vector:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def _add_(self,other):
        return Vector(self.x + other.x, self.y + other.y)  
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"


v1 = Vector(2, 3)
v2 = Vector(4, 5)

v3 = v1 + v2  

print("Vector 1:", v1)
print("Vector 2:", v2)
print("Added Vector:", v3)

Vector 1: (2, 3)
Vector 2: (4, 5)
Added Vector: (6, 8)

In [36]:
# 28. Demonstrate method overloading using default parameters.


class Overloading:
    def add(self,x=0,y=0,z=0):
        return x*y*z


Cal = Overloading()
Cal.add(4,)

0

In [37]:
# 29. Create a base class Shape with draw() method and override it in derived classes.

class Shape:
    def draw(self):
        return "Shape is drawing"

class Circle(Shape):
    def draw(self):
        return "Circle is drawing"

class Rectangle(Shape):
    def draw(self):
        return "Rectangle is drawing"


shapes = [Rectangle(), Circle()]

for s in shapes:
    print(s.draw())

Rectangle is drawing
Circle is drawing

In [38]:
# 30. Demonstrate duck typing with classes having the same method name.

class first_class:
    def student(self):
        print("This is first student")
class second_class:
    def student(self):
        print("This is second student")

def merge(a,b):
    a.student()
    b.student()

obj1 = first_class()
obj2 = second_class()

merge(obj1,obj2)

This is first student
This is second student

## 7.Encapsulation(5 question)

In [74]:
# 31. Create a class Account with private balance attribute and provide methods to deposit and withdraw

class Account:
    def __init__(self, balance):
        self.__balance = balance   # private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"

    def get_balance(self):
        return self.__balance


# Example usage
acc = Account(1000)
print(acc.deposit(5000))   # Deposited 500. New balance: 1500
print(acc.withdraw(200))  # Withdrew 200. New balance: 1300
print(acc.get_balance())  # 1300

Deposited 5000. New balance: 6000
Withdrew 200. New balance: 5800
5800

In [2]:
# 32. Create a class with private attributes and use getter and setter methods to access them.


class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # private attribute

    def get_age(self):
        return self.__age

    def set_age(self, new_age):
        if new_age >= 0:
            self.__age = new_age
        else:
            print("Age cannot be negative")

In [7]:
gs=Person("yashashri",20)

In [8]:
gs.set_age(21)

In [9]:
gs.get_age()

21

In [41]:
# 33. Demonstrate name mangling with private variables.

class PrivateName:
    def __init__(self,name):
        self.__name=name
        
obj = PrivateName("darshan")
print(obj._PrivateName__name)

darshan

In [44]:
# 34. Create a class Bank with encapsulated methods to show account details securely.


class Bank:
    def __init__(self,account_number, name, balance, pin):
        self.__account_number = account_number
        self.__name = name 
        self.__balance = balance
        self.__pin=pin


    def deposite(self,amount):
        if amount>0:
            self.__balance+=amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"


    def Withdrawal(self,amount,pin):
        if pin!=self.__pin:
            return "Incoorect Pin"
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"



    def show_detail(self,pin):
        if pin==self.__pin:
            return f"Account Number: {self.__account_number}  Name: {self.__name}    Balance: {self.__balance}"
        else:
            return "Access denied! Incorrect PIN."

In [48]:
my_account = Bank(1268895647 , "yashashri padwe" , 60000,1234)

In [49]:
my_account.deposite(700)

'Deposited 700. New balance: 60700'

In [47]:
my_account.Withdrawal(60000,1234)

'Withdrew 60000. New balance: 700'

In [50]:
my_account.show_detail(1234)

'Account Number: 1268895647  Name: yashashri padwe    Balance: 60700'

In [51]:
# 35. Demonstrate encapsulation by restricting access to class attributes.
class Employee:
    def __init__(self, salary):
        self.__salary = salary 


    def get_salary(self):
        return self.__salary

    
    def set_salary(self, salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("Invalid salary!")


emp = Employee(50000)
emp.get_salary()   

emp.set_salary(60000)
emp.get_salary() 

emp.set_salary(-1000)

Invalid salary!

In [52]:
# 36. Write a program to display the current date and time.

from datetime import datetime

k = datetime.now()
print(k)

2025-09-16 15:31:38.809230

In [53]:
# 37. Write a program to calculate a person’s age from their date of birth.

def calcu_age(dob):
    dob = datetime.strptime(dob,"%d-%m-%Y").date()
    today = datetime.today()
    age = today.year-dob.year
    return age

dob_input = input("Enter DOB (DD-MM-YYYY): ")
print("Your age is:", calcu_age(dob_input))

Enter DOB (DD-MM-YYYY):  03-03-2005

Your age is: 20

In [54]:
calcu_age("03-03-2005")

20

In [75]:
# 38. Write a program to find the difference in days between two given dates.

from datetime import datetime


def differnece_date(date1,date2):
    date1 = datetime.strptime(date1,"%d-%m-%Y")
    date2 = datetime.strptime(date2,"%d-%m-%Y")
    diff = abs((date1-date2).days)
    return diff

date1 = input("Enter first date (DD-MM-YYYY): ")
date2 = input("Enter second date (DD-MM-YYYY): ")

print("Difference in days:", differnece_date(date1, date2))

Enter first date (DD-MM-YYYY):  02-12-2001
Enter second date (DD-MM-YYYY):  16-09-2025

Difference in days: 8689

In [56]:
# 39. Write a program to print the date 30 days from today.



from datetime import datetime, timedelta


today = datetime.today()
time= timedelta(days=30)
next_30days = today+time
k = next_30days.strftime("%d-%m-%Y")
print(k)

16-10-2025

In [57]:
# 40. Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.


from datetime import date

date = today.now()

format1 =date.strftime("%d-%m-%Y")
format2=date.strftime("%Y-%m-%d")

print(f"This is first format - > {format1} \nThis is second format - > {format2} " )

This is first format - > 16-09-2025
This is second format - > 2025-09-16

## 8.datetime module

In [58]:
# 41. Write a program to calculate factorial using math.factorial().

import math as mt


mt.factorial(5)

120

In [59]:
# 42. Write a program to find the greatest common divisor (GCD) of two numbers.

num1= int(input("Enter your Number 1 : "))
num2=int(input("Enter your Number 2 : "))

gcd = mt.gcd(num1,num2)

print(f"In two number is the GCD - > {gcd}")

Enter your Number 1 :  1
Enter your Number 2 :  2

In two number is the GCD - > 1

In [60]:
# 43. Write a program to calculate square root, power, and logarithm using math module.
num = int(input("Enter your number : ")) 

sq = mt.sqrt(num)
po = mt.pow(num,2)
log =mt.log(num)


print(f"Your Square of number is - {sq}\n Your Power of number - {po}\n Your Logarithm of number is - {log} ")

Enter your number :  65

Your Square of number is - 8.06225774829855
 Your Power of number - 4225.0
 Your Logarithm of number is - 4.174387269895637

In [61]:
# 44. Write a program to generate random numbers between 1 and 100 (using math and
# random).



import random
import math as mt

k = random.randrange(1, 101)
print(f"Your Random Number is =  {k}")

Your Random Number is =  78

In [62]:
# 45. Write a program to convert radians to degrees and vice versa.
import math

k=math.radians(45)
print(k)

0.7853981633974483

## 9.Math module(5 question)

In [64]:


#<!-- 46. Write a regex to check if a string is a valid email address. -->

string ="pritesh@example.com"

import re

email = r'[a-z]\S+@\S+\.\S+'

print(bool(re.match(email,string)))

True

In [65]:
# 47. Write a regex to extract all numbers from a string.
text = "I have 2 apples, 15 oranges, and 100 bananas."

pattern = r"\d+"

nu=re.findall(pattern,text)
print(nu)

['2', '15', '100']

In [66]:
# 48. Write a regex to validate if a string is a valid Indian mobile number (10 digits).



numbers = ["9876543210", "1234567890", "9123456789"]
pattern = r"^[6-9]\d{9}$"

for num in numbers:
    match = re.match(pattern, num)
    print(f"{num} -> {bool(match)}")

9876543210 -> True
1234567890 -> False
9123456789 -> True

In [67]:
# 49. Write a regex to find all words starting with a capital letter in a sentence.

str1 ="Hello This is a example Sring"

fi = re.findall(r' \b[A-Z][a-zA-Z]*\b',str1)
print(fi)

[' This', ' Sring']

In [72]:
# 50. Write a regex to replace all spaces in a string with a hyphen. 


import re

# Sample string
text = "Python regex replace spaces with hyphens"

# Replace all spaces with hyphens
result = re.sub(r"\s+", "-", text)

print(result)

Python-regex-replace-spaces-with-hyphens

# END